*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.pytype
.DS_Store
.idea
.coverage
.coverage.*
__pycache__/
_build/
*.npz
*.zip
plot_tf.py
data
data2
data4

# Setuptools distribution and build folders.
/dist/
/build
keys/
viz/
gym-minigrid/
src/

# Virtualenv
/env
/venv

*.sublime-project
*.sublime-workspace

logs/
_vizdoom.ini

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT
